* {
    box-sizing: border-box !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1rem !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    line-height: 1.5 !important;
    overflow-x: hidden !important;
    background: #fff !important;
    font-weight: 200;
}

#main-header {
    height: 100vh !important;
    display: flex !important;
    align-items: center !important;
    color: #f4f4f4 !important;
}

.header-container {
    max-width: 960px !important;
    padding: 0 1rem !important;
    margin: auto !important;
}

.fullscreen-video-wrapper {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100vh !important;
    overflow: hidden !important;
}

.fullscreen-video-wrapper video {
    min-width: 100% !important;
    min-height: 100% !important;
}

.header-overlay {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background: #225470 !important;
    z-index: 1 !important;
    opacity: 0.65 !important;
}

.header-content {
    text-align: center !important;
    z-index: 2 !important;
}

.header-content h1 {
    font-weight: 600 !important;
}

.header-content p {
    display: block !important;
}

.navbar-fixed {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
}

.parallax-container {
    background: rgba(0, 0, 0, 0.75) !important;
}

.no-pad-bot {
    width: 100% !important;
}

#connect .fab {
    padding: 5px 12px;
}

#blog .col {
    margin: auto auto 15px !important;
}

@media screen and (max-width: 450px) {
    #connect .fab {
        padding: 5px 8px;
    }
}